.navbar-brand {
    font-size: 1.1rem;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
}

.nav-item ::deep a.active {
    color: white;
    font-weight: bold;
}

.nav-item ::deep .nav-link:hover {
    color: white;
}
